body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eee8d5; /* Light blue-gray, suitable for academic context */
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.question {
    white-space: nowrap;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 100px;
    color: #2d3748; /* Dark gray for readability */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.highlight {
    font-weight: bold;
    font-size: 35px;
    color: #8912c0;          /* Blue color for better readability */
    text-decoration: underline;
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.option {
    background-color: #ffffff; /* White background for options */
    border: 3px solid #4299e1; /* Dark gray border */
    border-radius: 10px;
    padding: 20px;
    margin: 0 25px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.option:hover {
    /* transform: scale(1.05); */
    border: 3px solid #8912c0; /* Dark gray border */
}
.hidden-option {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    /* Any other visual styles you want to remove */
  }
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4299e1; /* Blue, suitable for academic context */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #8912c0;
}
#button_left, #button_right {
    width: 128px; 
    height: 64px; 
    font-size: 20px; 
    background-color: white; 
    border: 3px solid #4299e1;
    padding: 1px; 
    margin: 0; 
    color: black;
}
#button_left:hover, #button_right:hover {
    border: 3px solid #8912c0;
    cursor: pointer;
}

#progressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 0%;
    background-color: #8912c0; /* Green */
    transition: width 0.5s ease;
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInBlurScale {
    from {
        opacity: 0;
        filter: blur(8px);
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}
.fade-out {
    animation: fadeOutUp 0.5s forwards;
}
.fade-in {
    animation: fadeInBlurScale 0.5s forwards;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px); /* Move to right when fading out */
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px); /* Start from left when fading in */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out-horizontal {
    animation: fadeOutRight 0.5s forwards;
}

.fade-in-horizontal {
    animation: fadeInLeft 0.5s forwards;
}

/* .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
} */

#rest, #prior {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#wait {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#restContent, #priorContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}
#waitContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

#priorButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#continueButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 3px solid #52c41a;
}

#continueButton:hover {
    cursor: pointer;
    border: 3px solid #8912c0;
}

.gsp-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.gsp_option {
    background-color: #ffffff; 
    border: 3px solid #4299e1; 
    border-radius: 10px;
    padding: 20px;
    margin: 0 0px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-container {
    text-align: center;
    margin-top: 20px;
}

#instructions {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
#insContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: 300px;
    max-height: 90vh; 
    overflow-y: auto;
    overflow-x: hidden;
}
#insContent p {
    word-wrap: break-word;    
    overflow-wrap: break-word;
}
#consentButton {
    border: 3px solid #52c41a;
    background-color: #52c41a;
    width: 100px;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
}
#declineButton {
    border: 3px solid #bfc4bc;
    background-color: #bfc4bc;
    color: #ff4d4f;
    width: 150px;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
}
#consentButton:hover, #declineButton:hover {
    border: 3px solid #000000;
    cursor: pointer;
}