body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eee8d5; /* Light blue-gray, suitable for academic context */
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.question {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 100px;
    color: #2d3748; /* Dark gray for readability */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.categorization-container {
    display: flex;
    flex-direction: column; /* Add this line to stack elements vertically */
    justify-content: center;
    align-items: center;
    width: 100%; /* Optional: ensure container takes full width */
    gap: 20px;
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4299e1; /* Blue, suitable for academic context */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #8912c0;
}
#progressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 0%;
    background-color: #8912c0; /* Green */
    transition: width 0.5s ease;
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-out {
    animation: fadeOutUp 0.5s forwards;
}
.fade-in {
    animation: fadeInDown 0.5s forwards;
}

#rest {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#restContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

#continueButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.categorization_button {
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
    height: 40px;
}
.categorization_button:disabled {
    /* Styles for disabled state */
    background-color: #505050;
    opacity: 0.5;
    cursor: not-allowed;
  }