<strong>Study title</strong>: Exploring human categorical representations<br>
<strong>Name of Researcher(s)</strong>: Haijiang Yan, Chris Tsvetkov<br>
<strong>Name of Supervisor(s)</strong>: Adam Sanborn, Nick Chater<br><br>

By clicking the button below, I confirm that:<br>
1.	I have read and understand the information leaflet for the study. I have had the opportunity to consider the information, ask questions and have had these answered satisfactorily.<br><br>

2.	I understand that my participation is voluntary and that I am free to withdraw at any time without giving any reason, without my medical, social care, education, or legal rights being affected.<br><br>

3.	I understand that data collected during the study, may be looked at by individuals from The University of Warwick, from regulatory authorities, where it is relevant to my taking part in this study. I give permission for these individuals to have access to my data.<br><br>

4.	I am over 18 years of age, and my ethnicity is Western Caucasian or Eastern Asian.<br><br>

5.	I consent to providing facial photos for use in research-based analyses.<br><br>

6.	I give permission for the behavioural data that I provide to be deposited in Open Science Framework (OSF) repository so it can be used for future research and learning<br><br>

7.	I agree to take part in the above study.<br>
