Thank you for participating! This research study aims to identify human's category representations of facial affect. Your decisions made in the experiment will be used to infer what sort of faces people would perceive as different emotions, which is a key step toward developing a better understanding of how people learn, form memories, and make decisions. <br><br> 
            
After reviewing your data quickly and considering our research needs, we are unable to move you forward to the next part of the study. Please be aware that this is solely for the purpose of our research. We will approve your submission. <br><br>

Please follow the link below to complete the experiment.