<h1>Welcome to our experiment!</h1>
<p>In this experiment session, you will be asked to make some simple judgments based on the images presented on the screen in the first part. You may also need to take photos of yourself with different facial expressions at the end. Please confirm the following before entering: <br><br>
(1) You have good network connection that can load images quickly; <br>
(2) You have a functioning webcam for you to take photos of yourself; <br>
(3) You are available and willing to take part in the next session that comes in the following day. (Note: you will receive an invitation for the second session if we find you eligible after this one. <strong>Successful completion of both sessions will entitle you an extra bonus)</strong></p>