<b>Title of Project</b>: Exploring human representations of facial affect <br>
<b>Investigators</b>: Haijiang Yan, Christian Tsvetkov, Nick Chater, Adam Sanborn. <br><br>

Welcome and thank you for participating! This research study is on identifying human's category representations. The experiment contains <strong>two sessions</strong> (the current one is the first session, another one will be released later). <br><br>

The current session consists two parts --- a basic part and an add-on part. In the basic part, you will be asked to make a series of decisions about faces. You may see two stimuli on the screen and need to pick one of them according to your response to the question asked above the image (for example, “who looks happier?”). You may see one stimulus on the screen and need to pick one of options that best describe the stimuli. It will take around 1 hours in this part. Once finished, you will be eligible for a compensation of £9. <br><br>

After the basic part, you might be prompted to either continue your participation to the add-on experiment, or just complete your participation directly. If entering this part, you will be asked to finish a categorization task, and take your face photos with specific facial expressions at the end. It will take 15 minutes in this part. Once finished, you will be eligible for a compensation of £3.<br><br>

We are conducting this research as part of a PhD research and this work is funded by a Chancellor's International Scholarship. <br><br>

Your participation is completely voluntary. You can withdraw at any time, and for any reason, simply by closing your browser. If you withdraw, your incomplete data will be removed from the dataset completely.<br><br>
<!-- 
No identifiable data will be collected from you as part of this study. This means that once your responses have been submitted to the research team, it will not be possible to withdraw this data as your individual responses cannot be identified.<br><br> -->

Data will be securely stored on University of Warwick servers (on an access-restricted drive shared by investigators listed above) and will be processed only for the purpose of scientific analysis.  Access to the data will be restricted to the investigators listed above. Summaries may be presented at conferences and included in scientific publications. Data will be reviewed on completion of the research, in line with the University of Warwick data retention policy. After review, anonymised data will eventually be made openly accessible for future scientific analysis carried out by us or other researchers. <br><br>

Please refer to the University of Warwick Research Privacy Notice which is available here: https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice or by contacting the Information and Data Compliance Team at GDPR@warwick.ac.uk. <br><br>

This study has been reviewed and approved by the Department of Psychology Research Ethics Committee at the University of Warwick.<br><br>

If you require further information, please contact Haijiang Yan (haijiang.yan@warwick.ac.uk) or the supervisor Professor Adam Sanborn (a.n.sanborn@warwick.ac.uk).<br><br>

Any complaint should be addressed to the person below, who is a senior University of Warwick official entirely independent of this study:

Head of Research Governance	<br>Email: researchgovernance@warwick.ac.uk <br>
Research & Impact Services		Tel: 024 765 75733<br>
University House<br>
University of Warwick<br>
Coventry<br>
CV4 8UW<br><br>

If you wish to raise a complaint on how we have handled your personal data, you can contact our Data Protection Officer who will investigate the matter: DPO@warwick.ac.uk.<br><br>

If you are not satisfied with our response or believe we are processing your personal data in a way that is not lawful you can complain to the Information Commissioner's Office (ICO).<br><br>

Thank you for taking the time to read this concise Participant Information Leaflet.
        